<!DOCTYPE html>
<html>
<head>

    <title>Setting Template</title>
    <style>

        #preview-container{

            position: relative;

            display: inline-block;

        }

        #preview-image{

            width: 800px;

            image-rendering: auto;

        }

        #photo-box{

            position: absolute;

            border: 2px dashed red;

        }

        #qr-box{

            position: absolute;

            border: 2px dashed blue;

        }

    </style>
</head>
<body>

<h2>Setting Posisi Template</h2>
<form
    action="/upload-template"
    method="POST"
    enctype="multipart/form-data"
>

    <input
        type="file"
        name="pdf"
        accept=".pdf"
    >

    <button type="submit">
        Upload PDF
    </button>

</form>
<div id="preview-container">

    <img
        id="preview-image"
        src="/preview/preview-1.jpg?t=<%= Date.now() %>"
    >

    <div id="photo-box"></div>

    <div id="qr-box"></div>

</div>
<form action="/reset-setting" method="POST">

    <button type="submit">
        Reset Default
    </button>

</form>
<form action="/save-setting" method="POST">

    <h3>Foto</h3>

    <p>X Foto</p>
    <input
        type="number"
        id="photo_x"
        name="photo_x"
        value="<%= template.photo.x %>"
        step="0.1"
    >

    <p>Y Foto</p>
    <input
        type="number"
        id="photo_y"
        name="photo_y"
        value="<%= template.photo.y %>"
        step="0.1"
    >

    <p>Width Foto</p>
    <input
        type="number"
        id="photo_width"
        name="photo_width"
        value="<%= template.photo.width %>"
        step="0.1"
    >

    <p>Height Foto</p>
    <input
        type="number"
        id="photo_height"
        name="photo_height"
        value="<%= template.photo.height %>"
        step="0.1"
    >

    <hr>

    <h3>QR Code</h3>

    <p>X QR</p>
    <input
        type="number"
        id="qr_x"
        name="qr_x"
        value="<%= template.qr.x %>"
        step="0.1"
    >

    <p>Y QR</p>
    <input
        type="number"
        id="qr_y"
        name="qr_y"
        value="<%= template.qr.y %>"
        step="0.1"
    >

    <p>Width QR</p>
    <input
        type="number"
        id="qr_width"
        name="qr_width"
        value="<%= template.qr.width %>"
        step="0.1"
    >

    <p>Height QR</p>
    <input
        type="number"
        id="qr_height"
        name="qr_height"
        value="<%= template.qr.height %>"
        step="0.1"
    >

    <br><br>

    <button type="submit">
        Simpan
    </button>

</form>

<script>
    alert('Halaman ini untuk mengatur posisi foto dan QR pada template ijazah. Setelah mengubah posisi, jangan lupa klik "Simpan" untuk menyimpan perubahan.')
    const photoBox =
    document.getElementById('photo-box')

function updatePreview(){

    const x =
        document.getElementById('photo_x').value

    const y =
        document.getElementById('photo_y').value

    const width =
        document.getElementById('photo_width').value

    const height =
        document.getElementById('photo_height').value

    photoBox.style.left =
        x + 'px'

    photoBox.style.top =
        y + 'px'

    photoBox.style.width =
        width + 'px'

    photoBox.style.height =
        height + 'px'

}

document
.querySelectorAll('input')
.forEach(input => {

    input.addEventListener(
        'input',
        updatePreview
    )

})

updatePreview()
</script>
</body>
</html>